{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/platos/crear_plato.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card card-shadow shadow-sm">
    <div class="card-body card-body-custom">
      <div class="row">
        <div class="col-md-6">
          {% if plato.imagen %}
              <img src="{{ plato.imagen.url }}" class="img-custom-update" alt="Imagen de entrada">
          {% else %}
              <img src="{% static 'images/dish.jpg' %}" class="img-custom-update" alt="Imagen por defecto">
          {% endif %}
        </div>
        <div class="col-md-6 text-white">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.nombre.id_for_label }}">Nombre del Plato</label>
                    {{ form.nombre }}
                </div>
                <div class="form-group">
                    <label for="{{ form.precio.id_for_label }}">Precio</label>
                    {{ form.precio }}
                </div>
                <div class="form-group">
                    <label for="{{ form.categoria.id_for_label }}">Categoría</label>
                    {{ form.categoria }}
                </div>
                <div class="form-group">
                    <label for="{{ form.imagen.id_for_label }}">Seleccionar Imagen</label>
                    {{ form.imagen }}
                </div>
            </div>
        <div class="col-md-12 text-white">
            <div class="form-group">
                <label for="{{ form.detalle.id_for_label }}">Descripción</label>
                {{ form.detalle }}
            </div>
        
                
            <div class="text-center mt-4">
                <a href="javascript:history.back()" class="btn btn-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="Volver">
                    <img src="{% static 'icons/back_sred.svg' %}" alt="Volver" style="width:40px; height:40px;">
                </a>
                <button type="submit" class="btn btn-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="Guardar">
                    <img src="{% static 'icons/save_yw.svg' %}" alt="Guardar" style="width:40px; height:40px;">
                </button>
            </div>
            
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
{% endblock %}

