{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/platos/crear_plato.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card card-shadow shadow-sm">
                <div class="card-body card-body-custom">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{% static 'images/dish.jpg' %}" alt="Imagen del Plato" class="img-custom-update">
                        </div>
                        <div class="col-md-6 text-white">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="{{ form.nombre.id_for_label }}">Nombre del Plato</label>
                                    {{ form.nombre }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.precio.id_for_label }}">Precio</label>
                                    {{ form.precio }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.categoria.id_for_label }}">Categoría</label>
                                    {{ form.categoria }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.imagen.id_for_label }}">Seleccionar Imagen</label>
                                    {{ form.imagen }}
                                </div>
                            </div>
                        <div class="col-md-12 text-white">
                            <div class="form-group">
                                <label for="{{ form.detalle.id_for_label }}">Descripción</label>
                                {{ form.detalle }}
                            </div>

                            <div class="text-center mt-4">
                                <a href="{% url 'listar_platos' %}" class="btn btn-hover"><img src="{% static 'icons/close_border.svg' %}" alt="Mesa" style="width:47px; height:47px;"></a>
                                <button type="submit" class="btn btn-hover"><img src="{% static 'icons/check_borderb.svg' %}" alt="Mesa" style="width:47px; height:47px;"></button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
