.card-shadow-agregar {
    background: #040825b8;/* Opacidad ajustada para mayor visibilidad */
    border-radius: 8px; /* Bordes redondeados para un estilo más suave */
    box-shadow: 0 4px 8px rgba(3, 92, 93, 0.849); /* Sombra sutil para profundidad */
    padding: 16px; /* Espaciado interno para contenido más cómodo */
    margin: 16px; /* Margen para separación de otros elementos */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para efectos interactivos */
  }
  
  .card-shadow-agregar:hover {
    transform: translateY(-4px); /* Levantar la tarjeta al pasar el cursor */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más prominente al interactuar */
  }

  /* CSS para los botones de aumentar y disminuir */
.btn-outline-secondary {
    background-color: rgb(237, 225, 138);
    border: 1px solid #ddd;
    color: #160707;
    transition: all 0.3s ease;
}

.btn-outline-secondary:hover {
    background-color: #dec615;
    border-color: #ccc;
    color: #000;
}

.btn-outline-secondary:focus,
.btn-outline-secondary:active {
    background-color: #e0e0e0;
    border-color: #bbb;
    color: #000;
    box-shadow: none;
}

.card-title-plato {
    font-size: 0.8rem; /* Tamaño del texto, ajusta según prefieras */
    font-weight: 700; /* Peso de la fuente, negrita */
    color: #000000; /* Color del texto, puedes cambiarlo según tu esquema de color */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    margin-bottom: 1rem; /* Espaciado inferior */
    text-align: center; /* Centra el texto horizontalmente */
  }

/* Estilos para un acordeón completamente transparente */
.accordion {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
}

.accordion-item {
    background-color: transparent; 
    border: none; /* Sin borde en los items */
}

.accordion-header {
    background-color: transparent; /* Fondo transparente en el encabezado */
    border: none; /* Sin borde en el encabezado */
}

.accordion-button {
    background-color: transparent; /* Fondo transparente en el botón */
    color: #ffffff; /* Color del texto, ajusta según tu preferencia */
    border: none; /* Sin borde en el botón */
    box-shadow: none; /* Sin sombra */
}

.accordion-button:hover {
    background-color: transparent; /* Fondo transparente al pasar el ratón */
}

.accordion-body {
    background-color: transparent; /* Fondo transparente en el cuerpo */
    border: none; /* Sin borde en el cuerpo */
}

.img-custom {
    width: auto;         /* Ancho automático */
    height: 100px;      /* Altura fija, puedes ajustarlo a tu necesidad */
    object-fit: cover;  /* Asegura que la imagen se recorte adecuadamente */
}

.card-custom-platos {
    max-width: 300px; /* Ancho máximo estándar para todas las cartas */
    margin: 0 auto; /* Centra las cartas horizontalmente */
    border-radius: 15px;
    background: white;
    box-shadow: 0 4px 8px rgba(29, 30, 30, 0.849); /* Sombra sutil para profundidad */
    height: 220px; /* Altura fija para todas las cartas */
    display: flex; /* Usa Flexbox para alinear el contenido de la carta */
    flex-direction: column; /* Coloca el contenido en una columna */
    justify-content: space-between; /* Distribuye el espacio entre el contenido */
}

.card-custom-platos:hover {
  transform: scale(1.05);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-custom-platos:active {
  transform: scale(1.05);
box-shadow: 0 8px 16px rgba(3, 143, 218, 0.589);
}