{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/arqueos/detalle_arqueo_caja.css' %}">
{% endblock %}

{% block content %}
<br>
<br>
<div class="container-fluid mt-5">
    <div class="card-shadow-arqueo  shadow-sm" >
        <div class="card-body card-body-custom">
            <div class="row">
                <!-- Columna para los detalles del arqueo -->
                <div class="col-md-5 mb-4">
                    <div class="card  card-shadow shadow-sm">
                        <div class="card-body">
                            
                            {% if profile.logo %}
                            <div class="row">
                                <div class="col-md-2 mb-4"><a href="{% url 'listar_arqueos' %}" class="btn btn-hover"><img src="{% static 'icons/backaw.svg' %}" alt="Mesa" style="width:37px; height:37px;"></a></div>
                                <div class="col-md-8 mb-4"><h5 class="text-dark"><img src="{% static 'icons/date_sstart.svg' %}" alt="Mesa" style="width:27px; height:27px;"> Fecha de Inicio: {{ arqueo.fecha_inicio|date:"d/m/Y h:i a" }}<br> <img src="{% static 'icons/date_send.svg' %}" alt="Mesa" style="width:27px; height:27px;"> Fecha de Fin: {{ arqueo.fecha_fin|date:"d/m/Y h:i a" }}</h5></div>
                            </div>
         
                            <h5 class="modern-title-alt">arqueo de caja</h5><br>
                            {% endif %}

                                <div class="card-body mt-4">
                                    <div class="row">                          
                                        <div class="col-md-12 mb-4">
                                            <table class="table table-custom">   
                                                <tbody>
                                                    <tr>
                                                        <td><h5>efectivo inicial</h5></td>
                                                        <td><h5>$ {{ arqueo.efectivo_inicial|floatformat:0|intcomma }}</h5></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h5>venta en mesa</h5></td>
                                                        <td><h5>$ {{ arqueo.total_ventas|floatformat:0|intcomma }}</h5></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h5>venta domicilio</h5></td>
                                                        <td><h5>$ {{ arqueo.total_ventas_domicilios|floatformat:0|intcomma }}</h5></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h5>gastos reportados</h5></td>
                                                        <td><h5>$ {{ arqueo.total_pagos|floatformat:0|intcomma }}</h5></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h5>efectivo en sistema</h5></td>
                                                        <td><h3>$ {{ arqueo.efectivo_final|floatformat:0|intcomma }}</h3></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h5>dinero contado</h5></td>
                                                        <td><h5>$ {{ arqueo.efectivo_final_registrado|floatformat:0|intcomma }}</h5></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h5><strong>ganancia neta</strong></h5></td>
                                                        <td><h4>$ {{ arqueo.diferencias|floatformat:0|intcomma }}</h4></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h5>Total propinas</h5></td>
                                                        <td><h5>$ {{ arqueo.total_propina|floatformat:0|intcomma }}</h5></td>
                                                    </tr>
                                                    <tr>
                                                        <td><h5>Observaciones</h5></td>
                                                        <td>{{ arqueo.observaciones }}</td>
                                                    </tr>
                                                </tbody>
                                                
                                            </table>
                                        </div>
                                        
                                    </div>  
                                </div>
                            </div>
                       
                    </div>
                </div>
                
                <!-- Columna para el conteo de monedas y billetes -->
                <div class="col-md-7">
                    <!-- Ventas por Método -->
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <br>
                            <div class="card card-custom shadow-sm border-light h-100">
                                <div class="card-body">
                                    <h4 class="card-title-finalizar mt-4"><strong>Mesa</strong></h4>
                                    <table class="table table-custom">
                                        <thead>
                                            <tr>
                                                <th>Método de Pago</th>
                                                <th>Total Ventas</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for metodo, total in ventas_por_metodo.items %}
                                            <tr>
                                                <td>{{ metodo }}</td>
                                                <td>$ {{ total|floatformat:0|intcomma }}</td>
                                            </tr>
                                            {% empty %}
                                            <tr class="table-primary">
                                                <td colspan="2" class="text-center">No hay ventas registradas.</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Ventas Domicilios -->
                        <div class="col-md-4 mb-3">
                            <br>
                            <div class="card card-custom shadow-sm border-light h-100">
                                <div class="card-body">
                                    <h4 class="card-title-finalizar mt-4"><strong>Domicilios</strong></h4>
                                    <table class="table table-custom">
                                        <thead>
                                            <tr>
                                                <th>Método de Pago</th>
                                                <th>Total Ventas</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for metodo, total in ventas_por_metodo_domicilios.items %}
                                            <tr>
                                                <td>{{ metodo }}</td>
                                                <td>$ {{ total|floatformat:0|intcomma }}</td>
                                            </tr>
                                            {% empty %}
                                            <tr class="table-primary">
                                                <td colspan="2" class="text-center">No hay ventas registradas.</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Pagos -->
                        <div class="col-md-4 mb-3">
                            <br>
                            <div class="card card-custom shadow-sm border-light h-100">
                                <div class="card-body">
                                    <h4 class="card-title-finalizar mt-4"><strong>Pagos</strong></h4>
                                    <table class="table table-custom">
                                        <thead>
                                            <tr>
                                                <th>Método de Pago</th>
                                                <th>Total Pagos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for metodo, total in pagos_por_metodo.items %}
                                            <tr>
                                                <td>{{ metodo }}</td>
                                                <td>$ {{ total|floatformat:0|intcomma }}</td>
                                            </tr>
                                            {% empty %}
                                            <tr class="table-primary">
                                                <td colspan="2" class="text-center">No hay pagos registrados.</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    <div class="row">

                        <!-- Conteo de Monedas -->
                        <div class="col-md-12 mb-1">
                            <div class="card card-shadow-arqueo border-light"  >
                                <div class="card-body">
              
                                    <div class="container mt-5">
                                        <div class="table-responsive">
                                        <div class="custom-grid-2">
                                            <div class="custom-col">
                                                <div class="item-container">
                                                    <span class="badge badge-custom-large bg-secundary text-dark rounded-pill" style="font-size: 22px;"> ᴍᴏɴᴇᴅᴀs</span>
                                                    
                                                    <h5 class="text-dark mt-3"><img src="{% static 'icons/amount.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ total_monedas_cantidad }}</h5>
                                                    
                                                    <h5>$ {{ total_monedas|floatformat:0|intcomma }}</h5>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="custom-col">
                                                <div class="item-container">             
                                                    <span class="badge badge-custom-large bg-secundary text-dark rounded-pill" style="font-size: 22px;">
                                                        <img src="{% static 'images/monedas/moneda_1000.jpg' %}" class="card-img" alt="Moneda de 1000"> 𝟣𝟢𝟢𝟢
                                                    </span>              
                                                    <h3 class="text-dark"><img src="{% static 'icons/amount.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ arqueo.monedas_1000 }}</h3>                                                  
                                                    <h5>$ {{ arqueo.monedas_1000|multiply:1000|floatformat:0|intcomma }}</h5>
                                                    <br>
                                                </div>
                                            </div>
                                            
                                            <div class="custom-col">
                                                <div class="item-container">
                                                    <span class="badge badge-custom-large bg-secundary text-dark rounded-pill" style="font-size: 22px;">
                                                        <img src="{% static 'images/monedas/moneda_500.jpg' %}" class="card-img" alt="Moneda de 500"> 𝟧𝟢𝟢
                                                    </span>
                                                    <h3 class="text-dark"><img src="{% static 'icons/amount.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ arqueo.monedas_500 }}</h3>           
                                                    <h5>$ {{ arqueo.monedas_500|multiply:500|floatformat:0|intcomma }}</h5>                  
                                                    <br>
                                                </div>
                                            </div>
                                            
                                            <div class="custom-col">
                                                <div class="item-container">
                                                    <span class="badge badge-custom-large bg-secundary text-dark rounded-pill" style="font-size: 22px;">
                                                        <img src="{% static 'images/monedas/moneda_200.jpg' %}" class="card-img" alt="Moneda de 200"> 𝟤𝟢𝟢
                                                    </span>
                                                    <h3 class="text-dark"><img src="{% static 'icons/amount.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ arqueo.monedas_200 }}</h3>      
                                                    <h5>$ {{ arqueo.monedas_200|multiply:200|floatformat:0|intcomma }}</h5>                  
                                                    <br>
                                                </div>    
                                            </div>
                                            
                                            <div class="custom-col">
                                                <div class="item-container">
                                                    <span class="badge badge-custom-large bg-secundary text-dark rounded-pill" style="font-size: 22px;">
                                                        <img src="{% static 'images/monedas/moneda_100.jpg' %}" class="card-img" alt="Moneda de 100"> 𝟣𝟢𝟢
                                                    </span>
                                                    <h3 class="text-dark"><img src="{% static 'icons/amount.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ arqueo.monedas_100 }}</h3>   
                                                    <h5>$ {{ arqueo.monedas_100|multiply:100|floatformat:0|intcomma }}</h5>                  
                                                    <br>
                                                </div>                
                                            </div>
                                            
                                            <div class="custom-col">
                                                <div class="item-container">
                                                    <span class="badge badge-custom-large bg-secundary text-dark rounded-pill" style="font-size: 22px;">
                                                        <img src="{% static 'images/monedas/moneda_50.jpg' %}" class="card-img" alt="Moneda de 50"> 𝟧𝟢
                                                    </span>
                                                    <h3 class="text-dark"><img src="{% static 'icons/amount.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ arqueo.monedas_50 }}</h3>  
                                                    <h5>$ {{ arqueo.monedas_50|multiply:50|floatformat:0|intcomma }}</h5>               
                                                    <br>
                                                </div>      
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       <!-- Conteo de Billetes -->
                        <div class="col-md-12 mb-1">
                            <div class="card shadow-sm border-light h-100"  style="background: transparent; border: none;">
                                <div class="card-body">
                                    
                                    <div class="container mt-5">
                                        <div class="table-responsive">
                                        <div class="custom-grid">
                                            <div class="custom-col">
                                                <div class="item-container">
                                                    <span class="badge badge-custom-large bg-secundary text-dark rounded-pill" style="font-size: 25px;">
                                                        ʙɪʟʟᴇᴛᴇs
                                                    </span>
                                                    <h3 class="text-dark"><img src="{% static 'icons/amount.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ total_billetes_cantidad }}</h3>
                                                    <h5>$ {{ total_billetes|floatformat:0|intcomma }}</h5>
                                                    <br>
                                                </div>
                                            </div>
                                            
                                            <div class="custom-col">
                                                <div class="item-container">
                                                    <span class="badge badge-custom-large bg-secundary text-dark rounded-pill" style="font-size: 22px;">
                                                        <img src="{% static 'images/monedas/billete_100000.jpeg' %}" class="card-img" alt="Billete de 100000"> 𝟣𝟢𝟢.𝟢𝟢𝟢
                                                    </span>
                                                    <h3 class="text-dark"><img src="{% static 'icons/amount.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ arqueo.billetes_100000 }}</h3>
                                                    <h5>$ {{ arqueo.billetes_100000|multiply:100000|floatformat:0|intcomma }}</h5>                                  
                                                    <br>
                                                </div> 
                                            </div>
                                            
                                            <div class="custom-col">
                                                <div class="item-container">
                                                    <span class="badge badge-custom-large bg-secundary text-dark rounded-pill" style="font-size: 22px;">
                                                        <img src="{% static 'images/monedas/billete_50000.jpg' %}" class="card-img" alt="Billete de 50000"> 𝟧𝟢.𝟢𝟢𝟢
                                                    </span>
                                                    <h3 class="text-dark"><img src="{% static 'icons/amount.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ arqueo.billetes_50000 }}</h3>
                                                    <h5>$ {{ arqueo.billetes_50000|multiply:50000|floatformat:0|intcomma }}</h5>                                  
                                                    <br>
                                                </div> 
                                            </div>
                                            
                                            <div class="custom-col">
                                                <div class="item-container">
                                                    <span class="badge badge-custom-large bg-secundary text-dark rounded-pill" style="font-size: 22px;">
                                                        <img src="{% static 'images/monedas/billete_20000.jpg' %}" class="card-img" alt="Billete de 20000"> 𝟤𝟢.𝟢𝟢𝟢
                                                    </span>
                                                    <h3 class="text-dark"><img src="{% static 'icons/amount.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ arqueo.billetes_20000 }}</h3>
                                                    <h5>$ {{ arqueo.billetes_20000|multiply:20000|floatformat:0|intcomma }}</h5>                                  
                                                    <br>
                                                </div>      
                                            </div>
                                            
                                            <div class="custom-col">
                                                <div class="item-container">
                                                    <span class="badge badge-custom-large bg-secundary text-dark rounded-pill" style="font-size: 22px;">
                                                        <img src="{% static 'images/monedas/billete_10000.jpeg' %}" class="card-img" alt="Billete de 10000"> 𝟣𝟢.𝟢𝟢𝟢
                                                    </span>
                                                    <h3 class="text-dark"><img src="{% static 'icons/amount.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ arqueo.billetes_10000 }}</h3>
                                                    <h5>$  {{ arqueo.billetes_10000|multiply:10000|floatformat:0|intcomma }}</h5>
                                                    <br>
                                                </div>      
                                            </div>
                                            
                                            <div class="custom-col">
                                                <div class="item-container">
                                                    <span class="badge badge-custom-large bg-secundary text-dark rounded-pill" style="font-size: 22px;">
                                                        <img src="{% static 'images/monedas/billete_5000.jpg' %}" class="card-img" alt="Billete de 5000"> 𝟧.𝟢𝟢𝟢
                                                    </span>
                                                    <h3 class="text-dark"><img src="{% static 'icons/amount.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ arqueo.billetes_5000 }}</h3>
                                                    <h5>{{ arqueo.billetes_5000|multiply:5000|floatformat:0|intcomma }}</h5>
                                                    <br>
                                                </div>          
                                            </div>
                                            
                                            <div class="custom-col">
                                                <div class="item-container">
                                                    <span class="badge badge-custom-large bg-secundary text-dark rounded-pill" style="font-size: 22px;">
                                                        <img src="{% static 'images/monedas/billete_2000.png' %}" class="card-img" alt="Billete de 2000"> 𝟤.𝟢𝟢𝟢
                                                    </span>
                                                    <h3 class="text-dark"><img src="{% static 'icons/amount.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ arqueo.billetes_2000 }}</h3>
                                                    <h5>$ {{ arqueo.billetes_2000|multiply:2000|floatformat:0|intcomma }}</h5>
                                                    <br>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
