{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <title>Factura de Venta</title>
    <link rel="stylesheet" href="{% static 'css/ventas/imprimir_factura.css' %}">
</head>
<body>
    <div class="invoice">
        <div class="text-center">
            {% if profile.logo %}
            <div>
                <img src="{{ profile.logo.url }}" alt="Logo de la empresa" class="logo">
            </div>
            {% endif %}
            <h2><strong>{{ profile.company }}</strong></h2>
            <p>{{ profile.tipo_documento }} {{ profile.numero_identificacion }}</p>
            <p>{{ profile.direccion }}, {{ profile.municipio_departamento }}</p>
            <p><strong>Teléfono:</strong> +57{{ profile.phone }}</p>
            <p>{{ profile.correo }}</p>
            <p><strong>Régimen:</strong> {{ profile.responsabilidad_tributaria }}</p>
            <br>
            <h4>Factura de venta de papel</h4>
            <h4>N°{{ compra.id }}</h4>
            <p><strong>Fecha emisión:</strong> {{ compra.fecha_compra|date:"d/m/Y h:i a" }}</p>
            <p><strong>Forma de pago: </strong>{{ compra.tipo_pago }}</p>
            <p><strong>Mesa: </strong>{{ compra.mesa.numero }}</p>
            <br>
            <h3>Consumidor final</h3>
            <h4>CC {{ compra.cedula_cliente }}</h4>
        </div>

        <table class="invoice-table">
            <thead>
                <tr>
                    <th>Plato</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles %}
                <tr class="total-row">
                    <td>{{ detalle.plato.nombre }}</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>${{ detalle.precio_unitario|floatformat:0|intcomma }}</td>
                    <td>${{ detalle.total_detalle|floatformat:0|intcomma }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No hay detalles de platos.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="invoice-table">
            <tfoot>
                <tr class="total-row-alt">
                    <td colspan="3">Subtotal</td>
                    <td>${{ compra.total_sin_descuento|floatformat:0|intcomma }}</td>
                </tr>
                {% if compra.total_descuento > 0 %}
                <tr class="total-row-alt">
                    <td colspan="3">Descuento</td>
                    <td>-${{ compra.total_descuento|floatformat:0|intcomma }}</td>
                </tr>
                {% endif %}
                <tr class="total-row-alt">
                    <td colspan="3">Total IVA</td>
                    <td>${{ compra.valor_impuesto|floatformat:0|intcomma }}</td>
                </tr>
                {% if compra.total_propina > 0 %}
                <tr class="total-row-alt">
                    <td colspan="3">Propina</td>
                    <td>${{ compra.total_propina|floatformat:0|intcomma }}</td>
                </tr>
                {% endif %}
                <tr class="total-row-alt">
                    <td colspan="3">Total Cancelado</td>
                    <td>${{ compra.total_impuesto|floatformat:0|intcomma }}</td>
                </tr>
            </tfoot>
        </table>
        <br>
        <h4>Resumen de impuestos</h4>
        <table class="invoice-table">
            <tbody>
                <tr>
                    <th>Tarifa</th>
                    <th>Base</th>
                    <th>Impuesto</th>
                </tr>
                <tr>
                    <td>{{ compra.impuesto }}</td>
                    <td>${{ compra.total_sin_descuento|floatformat:0|intcomma }}</td>
                    <td>${{ compra.valor_impuesto|floatformat:0|intcomma }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <p>Esta factura se asimila en todos sus efectos a una letra de cambio de conformidad con el Art. 774 del código de comercio.</p>
        <p>GastroPOS - NIT 100.742.979-4 - gastropos.com</p>
    </div>

    <script>
        window.onload = function() {
    window.print();
    setTimeout(function() {
        window.location.href = "{{ redirect_url }}";
    }, 1000); // Espera 1 segundo antes de redirigir
};
    </script>
</body>
</html>
