{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mesas/crear_mesa.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-shadow-mesa shadow-sm">
                <div class="card-body card-body-custom">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="{{ form.numero.id_for_label }}">n° mesa</label>
                            {{ form.numero }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.capacidad.id_for_label }}">capacidad</label>
                            {{ form.capacidad }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.estado.id_for_label }}">estado</label>
                            {{ form.estado }}
                        </div>
                        <div class="text-center mt-4">
                            <a href="{% url 'listar_mesas' %}" class="btn btn-hover"><img src="{% static 'icons/close_border.svg' %}" alt="Mesa" style="width:47px; height:47px;"></a>
                            <button type="submit" class="btn btn-hover"><img src="{% static 'icons/check_borderb.svg' %}" alt="Mesa" style="width:47px; height:47px;"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}