{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pedidos/crear_pedido.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <!-- Columna: Crear Pedido -->
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm fixed-size-card" style="background: transparent; border-style: none; scrollbar-width: thin; scrollbar-color: #007bff #f8f9fa;">
                <div class="card-body-pedido">
    
                    <!-- Tarjetas para seleccionar mesas -->
                    <form method="post" action="{% url 'crear_pedido' %}" class="mb-4">
                        {% csrf_token %}
                        <div class="row">
                            {% for mesa in mesas %}
                            <div class="col-md-4 mt-4">
                                <div class="card card-shadow-table shadow-sm">
                                    <input type="radio" name="mesa" value="{{ mesa.id }}" id="mesa_{{ mesa.id }}" class="form-check-input d-none">
                                    <label for="mesa_{{ mesa.id }}" class="card-body d-flex flex-column justify-content-center align-items-center">
                                        <strong>
                                            <h1 class="card-title mb-1" style="font-size: 30px;">
                                                 {{ mesa.numero }}
                                            </h1>
                                            <p class="card-title-capacidad mb-1">
                                                <i class="fa-solid fa-user"> {{ mesa.capacidad }}</i>
                                            </p>
                                        </strong>
                                    </label>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn bg-hover text-white">
                                <img src="{% static 'icons/add_sqblack.svg' %}" alt="Mesa" style="width:87px; height:63px;">
                                
                            </button>
                            <button type="button" class="btn btn-hover" data-bs-toggle="modal" data-bs-target="#modalPedidoDomicilio">
                                <img src="{% static 'icons/domi_btn.svg' %}" alt="Mesa" style="width:73px; height:50px;">
                               
                            </button>
                        </div>
                        <div class="card-footer text-center" style="background: transparent; border: none;">
                            <i class="fa-solid fa-caret-up"></i>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal para Detalles del Pedido -->
        <div class="modal fade" id="pedidoDetailsModal" tabindex="-1" role="dialog" aria-labelledby="pedidoDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="background: transparent; border: none;">
                <div class="modal-content" style="background: transparent; border: none;">
      
                    <div class="modal-body" id="modalBody" style="background: transparent; border: none;">
                        <!-- Aquí se cargarán los detalles del pedido -->
                    </div>
                </div>
            </div>
        </div>

       <!-- Modal para Detalles del Pedido Domicilio-->
        <div class="modal fade" id="pedidoDetailsModalDomi" tabindex="-1" role="dialog" aria-labelledby="pedidoDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="background: transparent; border: none;">
                <div class="modal-content" style="background: transparent; border: none;">
      
                    <div class="modal-body" id="modalBodyDomi" style="background: transparent; border: none;">
                        <!-- Aquí se cargarán los detalles del pedido -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Columna derecha: Pedidos Activos como cartas -->
        <div class="col-md-9 mb-4">
            <div class="card shadow-sm mb-4 fixed-size-card" style="background: transparent; border-style: none; scrollbar-width: thin; scrollbar-color: #007bff #f8f9fa; overflow-y: auto; height: 500px;">
                <div class="card-body">
                    <div class="row pedidos-activos">
                        {% for pedido in pedidos_activos %}
                        <div class="col-md-6 mb-4 pedido-card-container">
                            <div class="card-shadow-test">
                                <a href="{% url 'detalle_pedido' pedido.mesa.id %}">
                                    <h6 class="modern-title-small mt-2"><strong> MESA {{ pedido.mesa.numero }} </strong>{{ pedido.fecha_pedido|date:"h:i a" }}</h6>                            
                                </a>                             
                                <div class="card-body text-center pedido-body">                            
                                    <ul class="list-group pedido-items">
                                        {% for item in pedido.itempedido_set.all %}
                                        <li class="list-group-item pedido-item 
                                            {% if item.estado == 'Entregado' %}
                                                estado-entregado
                                            {% elif item.estado == 'En proceso' %}
                                                estado-en-proceso
                                            {% endif %}">
                                            <button class="btn btn-detalles" onclick="showDetails('{{ pedido.id }}')">
                                                <strong>{{ item.cantidad }} | {{ item.plato.nombre }}</strong>
                                            </button>
                                        </li>
                                        {% endfor %}                                      
                                    </ul>
                                    <a href="{% url 'agregar_plato_pedido' pedido.id %}" class="btn btn-hover mt-3 btn-detalles"><img src="{% static 'icons/add_sblue.svg' %}" alt="Mesa" style="width:45px; height:45px;"></a>            
                                    <a href="{% url 'finalizar_venta' pedido.id %}" class="btn btn-hover mt-3 btn-detalles"><img src="{% static 'icons/check_borderb.svg' %}" alt="Mesa" style="width:45px; height:45px;"></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para Crear Pedido Domicilio -->
        <div class="modal fade" id="modalPedidoDomicilio" tabindex="-1" role="dialog" aria-labelledby="modalPedidoDomicilioLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content card-shadow-test">
                    <div class="modal-header">
                        <h5 class="modal-title text-white" id="pedidoDomicilioModalLabel">Informacion del Cliente</h5>
                    </div>
                    <div class="modal-body">
                        <form id="formPedidoDomicilio" method="post" action="{% url 'crear_pedido_domicilio' %}">
                            {% csrf_token %}
                            <div class="form-group text-white">
                                Documento:
                                <input type="text" id="doc_cliente" name="doc_cliente" class="form-control" placeholder="Documento del cliente" value="{{ form_domicilio.doc_cliente.value|default:'' }}">
                                <ul id="resultadosBusqueda" class="list-group" style="display: none;"></ul>
                            </div>
                            <div class="form-group text-white">
                                Nombre:
                                <input type="text" id="nombre_cliente" name="nombre_cliente" class="form-control" placeholder="Nombre del cliente" value="{{ form_domicilio.nombre_cliente.value|default:'' }}">
                            </div>
                            <div class="form-group text-white">
                                Telefono:
                                <input type="tel" id="telefono_cliente" name="telefono_cliente" class="form-control" placeholder="Teléfono del cliente" pattern="[0-9]{10}" value="{{ form_domicilio.telefono_cliente.value|default:'' }}">
                            </div>
                            <div class="form-group text-white">
                                Dirección:
                                <textarea id="direccion_cliente" name="direccion_cliente" class="form-control" placeholder="Dirección del cliente" rows="1">{{ form_domicilio.direccion_cliente.value|default:'' }}</textarea>
                            </div>                           
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h6 class="modern-title-small mt-2"></h6>

        <!-- Columna inferior: Pedidos Activos Domicilios como cartas -->
        <div class="col-md-12 mb-4">
            <div class="card shadow-sm mb-4 fixed-size-card" style="background: transparent; border-style: none;">
                <div class="card-body">
                    <div class="row pedidos-activos">
                        {% for pedido, items in pedidos_con_items %}
                        <div class="col-md-6 mb-4 pedido-card-container">
                            <div class="card-shadow-test">
                                <a href="{% url 'detalle_pedido_domicilio' pedido.id %}">
                                    <h6 class="modern-title-small mt-2"><strong> {{ pedido.id }} | {{ pedido.nombre_cliente }}</strong></h6>
                                </a>                          
                                <div class="card-body text-center pedido-body">                           
                                    <h4 class="modern-subtitle-small"><img src="{% static 'icons/location.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ pedido.direccion_cliente }}<br><img src="{% static 'icons/hora.svg' %}" alt="Mesa" style="width:22px; height:22px;"> {{ pedido.fecha_pedido|date:"h:i a" }}</h4>
                                    <ul class="list-group pedido-items">
                                        {% for item in items %}
                                        <li class="list-group-item pedido-item 
                                            {% if item.estado == 'Entregado' %}
                                                estado-entregado
                                            {% elif item.estado == 'En proceso' %}
                                                estado-en-proceso
                                            {% endif %}">
                                            <button class="btn btn-detalles" onclick="showDetailsDomicilio('{{ pedido.id }}')">
                                                <strong>{{ item.cantidad }} | {{ item.plato.nombre }}</strong>
                                            </button>
                                        </li>

                                        {% endfor %}
                                    </ul>
                                    <a href="{% url 'agregar_plato_pedido_domicilio' pedido.id %}" class="btn btn-hover mt-3 btn-detalles"><img src="{% static 'icons/add_sblue.svg' %}" alt="Mesa" style="width:45px; height:45px;"></a>            
                                    <a href="{% url 'finalizar_venta_domicilio' pedido.id %}" class="btn btn-hover mt-3 btn-detalles"><img src="{% static 'icons/check_borderb.svg' %}" alt="Mesa" style="width:45px; height:45px;"></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="buscar-clientes-url" value="{% url 'buscar_clientes' %}">
<input type="hidden" id="cargar-detalle-pedido-url" value="{% url 'cargar_detalle_pedido' 0 %}">
<input type="hidden" id="editar-plato-url" value="{% url 'editar_plato' 0 0 %}">
<input type="hidden" id="eliminar-plato-url" value="{% url 'eliminar_plato' 0 0 %}">

<input type="hidden" id="cargar-detalle-pedido-domi-url" value="{% url 'cargar_detalle_pedido_domicilio' 0 %}">
<input type="hidden" id="editar-plato-domi-url" value="{% url 'editar_plato_domicilio' 0 0 %}">
<input type="hidden" id="eliminar-plato-domi-url" value="{% url 'eliminar_plato_domicilio' 0 0 %}">

<script>
    var csrfToken = '{{ csrf_token }}';
</script>
<script src="{% static 'js/pedidos/crear_pedido.js' %}"></script>

<script src="{% static 'js/pedidos/pedidos.js' %}"></script>
{% endblock %}
