{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/inventario/lista_productos.css' %}">
{% endblock %}


{% block content %}
<div class="container mt-5">
  <div class="row mb-4">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <div>
        <a href="{% url 'crear_producto' %}" style="text-decoration: none; color: inherit;">
          <h2 class="modern-title">ᴄʀᴇᴀʀ ᴘʀᴏᴅᴜᴄᴛᴏ</h2><br>
        </a>
      </div>
    </div>
</div>
<form method="get" action="{% url 'lista_productos' %}" class="mb-4">
    <div class="input-group">
        <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Buscar productos...">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary mx-2"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
</form>

  <table class="table table-custom">
    <thead>
      <tr>
        <th>nombre</th>
        <th>cantidad stock</th>
        <th>precio unitario</th>
        <th>unidad medida</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for info in productos_info %}
      <tr>
        <form method="post" action="{% url 'actualizar_producto' info.producto.id %}">
          {% csrf_token %}
          <input type="hidden" name="producto_id" value="{{ info.producto.id }}">
          <input type="hidden" name="q" value="{{ query }}">
          <td>
            <input type="text" name="nombre" value="{{ info.nombre }}" class="form-control">
          </td>
          <td>
            <input type="text" name="cantidad_disponible" value="{{ info.cantidad_disponible }}" class="form-control">
          </td>
          <td>
            <input type="text"  name="precio" value="{{ info.precio }}" class="form-control">
          </td>
          <td>
            {{ info.form.unidad_medida }}
          </td>
          <td>
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-arrows-rotate"></i></button>
        </form>
        
        <form method="post" action="{% url 'eliminar_producto' info.producto.id %}" style="display:inline;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar?');">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
        </form>
          </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No hay productos registrados.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
{% endblock %}
