{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/clientes/listar_clientes.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <div class="card card-custom shadow-sm">
                <div class="card-header card-header">
                    <h3 class="card-title card-title-custom text-center">INFORMACION CLIENTE | <a href="{% url 'eliminar_cliente' cliente.id %}" class="btn-custom-cliente"><i class="fa-solid fa-trash" style='font-size:15px;color:rgb(241, 14, 14)'> ELIMINAR</i></a></h3>
                </div>
                <div class="card-body">
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.nombre.id_for_label }}">Nombre</label>
                            {{ form.nombre }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
                            {{ form.telefono }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.direccion.id_for_label }}">Dirección</label>
                            {{ form.direccion }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.documento.id_for_label }}">Documento</label>
                            {{ form.documento }}
                        </div>
                        <br>
                        <div class="text-center">
                            <a href="javascript:history.back()" class="btn btn-custom-back">Cancelar</a>
                            <button type="submit" class="btn btn-custom-stacts">Actualizar</button>
                            
                        </div>
                        
                    </form>
                </div>
            </div>
       </div>
    </div> 
</div>
{% endblock %}
